@import "tailwindcss";

@theme {
  --color-primary: #13ec13;
  --color-background-light: #f6f8f6;
  --color-background-dark: #102210;

  --font-inter: "Inter", sans-serif;

  --radius-default: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
}

:root {
  --background: #f6f8f6;
  --foreground: #111811;
}

.dark {
  --background: #102210;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter);
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.progress-ring {
  transform: rotate(-90deg);
}

/* Material Icons Helper */
.material-symbols-outlined {
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}